body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

#user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    background: white;
    padding: 15px;
    margin: 10px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}